<%= render 'dashboard/merch_nav' %>

<h3>My Discounts</h3>

<%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %>

<section id="discounts">
  <% @merchant.bulk_discounts.each do |discount| %>
    <p>ID: <%= link_to "#{discount.id}", merchant_bulk_discount_path(@merchant, discount) %></p>
    <p>Percent Discount: <%= discount.pct_discount %>%</p>
    <p>Quantity Threshold: <%= discount.qty_threshold %> Units</p>
    <p><%= link_to "Delete Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete, local: true %></p>
    <br>
  <% end %>
</section>

<hr><br>

<h4><u>Upcoming Holidays</u></h4>

<section id="holidays">
  <% @holidays.each do |holiday| %>
    <p><%= holiday.name %></p>
    <p><%= holiday.date %></p>
    <br>
  <% end %>
</section>